.App {
  text-align: center;
}

.legend {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#graph {
  height: 548px;
}
#graph > svg {
  background-color: #1f2933;
  height: 548px;
}
.outline {
  fill: #30475e;
}

.legend {
  fill: #ececec;
}
.node > text {
  fill: white;
}

.relationship > path {
  fill: #efc7a3;
}

.relationship > text {
  fill: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
